$red: #ff0000;
$size: 50px;
$halfSize: $size / 2;

.demo {
  position: relative;
  min-height: 100px;
}

.square {
  min-width: $size;
  height: $size;
  background-color: $red;
  position: absolute;
  top: $halfSize;
  left: $halfSize;
  text-align: center;
  padding: 1.0em 0.8em 0 0.8em;
  font-size: 1.4em;
}

ul {
  list-style-type: none;
  padding: 1em 0 1em 0;
  overflow: auto;
  margin-bottom: 0.5em;
}

li {
  float: left;
  font-family: 'Droid Sans', sans-serif;
  margin: 0 1em 0.1em 0;
  background-color: #000;
  color: #fff;
  padding: 0.3em 1.8em 0.3em 1.8em;
  border-radius: 6px;
  cursor: pointer;
  font-style: normal;
  list-style-image: none;
}
body {
    width: 80%;
    margin: 100px;
  }
  .number {
    font-size: 200px;
    color: tomato;
    line-height: 200px;
    margin: 0;
  }
  
 .animate__backInDown{
    font-size: 100px;
    color: #e4860b;
 }
 .container{
    margin-top: 10%;
    .img{
        width: 10%;
    }
 }
 .btn{
    border: none;
    border-radius: 3px;
    background-color: #e4860b;
    color: #fff;
    padding: 10px 20px;
    margin-top: 4%;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
        background-color: darken(#e6bb83, 10);
    }
 }